body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
a,
ul,
ol {
  text-decoration: none;
  list-style-type: none;
}
h1 {
  color: #fff;
}
h2 {
  color: #2e2f42;
}
h3 {
  color: #2e2f42;
}

/*header*/
.page-header {
  font-family: "Raleway", sans-serif;
  background: #fff;
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .header-logo-color {
  color: #2e2f42;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.link-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-nav {
  list-style-type: none;
  text-decoration: none;
}
.list-contacts {
  list-style-type: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title {
  background: #2e2f42;
}
.title-button {
  background: #4d5ae5;
  font-family: inherit;
  font-style: normal;
}

/*footer*/
.footer {
  font-family: "Roboto", sans-serif;
  background: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
